@charset "UTF-8";
@function data($num){
  @return $num/20;
}
@mixin ell($a){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:$a;
  line-clamp:$a;
}
*{
  padding: 0;
  margin: 0;
}
body,html{
  height: 100%;
}

//账号登录页部分开始
#accountL{
  width: 100%;
  overflow: hidden;
  .accountTitle{
    width: 100%;
    height: data(40rem);
    background: #FAFAFA;
    border-bottom: 1px solid #808080;
    .arrow{
      width: 15%;
      height: 100%;
      float: left;
      font-family: iconfont;
      color: #808080;
      font-size: data(16rem);
      text-align: center;
      line-height: data(40rem);
    }
    .aLogin{
      width: 65%;
      height: 100%;
      float: left;
      text-align: center;
      font-size: data(20rem);
      line-height: data(40rem);
    }
  }
  .userIntro{
    width: 90%;
    height: data(100rem);
    margin: data(70rem) auto;
    div{
      width: 100%;
      height: data(50rem);
      margin: data(30rem) auto;
      border-bottom: 1px solid #808080;
      input{
        width: 70%;
        height: data(40rem);
        font-size: data(16rem);
        padding: 0 0 0 data(10rem);
        border: none;
        outline: none;
      }
      span{
        font-size: data(12rem);
        color: #808080;
        float: right;
        margin-top: data(10rem);
      }
    }
  }
  .loginBtn{
    width: 90%;
    height: data(50rem);
    background: #FF5777;
    border-radius: data(80rem);
    margin:0 auto;
    text-align: center;
    a{
      text-decoration: none;
      font-size: data(20rem);
      line-height: data(50rem);
      color: #FFFFFF;
    }
  }
  p{
    float: right;
    margin-right: data(30rem);
    margin-top: data(10rem);
    a{
      text-decoration: none;
      font-size: data(16rem);
      color: #808080;
    }
  }
}
//账号登录页部分结束