@charset "UTF-8";
@function data($num){
  @return $num/20;
}
@mixin ell($a){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:$a;
  line-clamp:$a;
}
*{
  padding: 0;
  margin: 0;
}
body,html{
  height: 100%;
}